.cart__wrapper {
  width: 100%;
  background: white;
  opacity: 1 !important;
  //min-height: 30.5rem;
  border-radius: 0.5rem;
  padding: 2rem 1.75rem;
  display: flex;
  flex-direction: column;
}

.cart__header {
  display: flex;
  justify-content: space-between;

  p:last-of-type {
    text-decoration: underline;
    opacity: 0.55;
  }
}

.cart__products {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 0;
}

.cart__empty {
  text-align: center;
  opacity: 0.7;

  img {
    width: 3rem;
    margin-top: 0.3rem;
  }
}

.cart__summary {
  display: flex;
  justify-content: space-between;
}

.cart__total {
  font-weight: 600;
  font-size: 0.938rem;
  opacity: 0.5;
}

.cart__price {
  font-weight: 900;
  font-size: 1.125rem;
}

.cart__bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cart__btn {
  min-width: 100%;
}
