@import '../../styles/settings.scss';

.homeothers__wrapper {
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.box__one {
  border-radius: 0.5rem;
  background-color: $orange-dark;
  text-align: center;
  color: $white;
  padding: 3.438rem 1.5rem;


  picture {
    z-index: 10;
    position: relative;
  }

  .box__one__pattern {
    position: absolute;
    width: 100%;
    top: 6%;
    z-index: 0;
  }

  .box__one__btn {
    z-index: 10;
  }
}

.box__one__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;

  img {
    width: 50%;
    margin-bottom: 0.5rem;
  }
}

.box__two {
  position: relative;

  img {
    border-radius: 0.5rem;
    width: 100%;
  }
}
.box__two__inner {
  position: absolute;
  top: 30%;
  padding: 0 1.5rem;

  p {
    margin-bottom: 2rem;
  }
}

.box__three {
  display: flex;
  flex-direction: column;

  img {
    border-radius: 0.5rem;
    width: 100%;
  }
}

.box__four {
  border-radius: 0.5rem;
  background: $gray;
}

.box__four__inner {
  padding: 2.563rem 1.5rem;

  p {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1023.98px) {

  .box__one {
    .box__one__pattern {
      top: 8rem;
    }
  }

  .box__three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.688rem;

    picture {
      width: 50%;
    }
  }

  .box__four {
    padding: 1rem 1.2rem;
    flex: 1;
  }
}

@media (max-width: 540px) {

  .box__one {
    .box__one__pattern {
      top: 44rem;
    }
  }

  .box__three {
    flex-direction: column;
    gap: 1.5rem;

    picture {
      width: 100%;
    }
  }

  .box__four {
    padding: 0;
  }
}