@import '../../styles/settings.scss';

.navbar {
  width: 100%;

  li {
    list-style: none;
  }
}

.navbar__wrapper {
  background-color: $black-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  position: relative;
  z-index: 999;
}

.dropdown__toggle__btn {
  display: none;
}

.navbar__links {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  margin-right: 7.5rem;

  p {
    text-decoration: none;
    color: $white;
  }
}

.pattern {
  width: 100%;
  height: 0.01rem;
  background-color: $white;
  opacity: 0.1;
}


//  CART
.navbar__cart {
  position: absolute;
  transition: top 0.3s ease-out;
  top: -60rem;
  width: 100%;
  z-index: 10;
}

.cart__container {
  padding: 1.5rem;
}


//  DROPDOWN
.navbar__dropdown {
  position: absolute;
  transition: top 0.3s ease-out;
  top: -60rem;
  width: 100%;
  z-index: 10;

  li {
    background-color: $gray;
    border-radius: 0.5rem;
  }
}

.dropdown__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown__img {
  width: 50%;
  margin-top: -3rem;
}

.dropdown__text {
  color: $black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.938rem;
  line-height: 1.25rem;
  letter-spacing: 0.067rem;
}

.dropdown__link {
  margin-top: 1.063rem;
  margin-bottom: 1.375rem;
}


//  MEDIA
@media (max-width: 992px) {

  .navbar__links {
    display: none;
  }

  .dropdown__toggle__btn {
    display: block;
  }


//  CART
  .navbar__cart.open {
    position: absolute;
    top: 5.7rem;
    z-index: 10;
    width: 100%;
  }


//  DROPDOWN
  .navbar__dropdown.open {
    border-radius: 0.5rem;
    background-color: $white;
    margin-top: 2.2rem;
    padding: 1.5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: absolute;
    top: 6rem;
    z-index: 10;
    box-shadow: 0 0 20rem $black;
  }

  .dropdown__pattern {
    margin-top: -2rem;
    height: 0.125rem;
    background-color: $orange-dark;
    border-radius: 50%;
    opacity: 0.9;
  }
}
